

version: '3'

services:
  mariadb:
    hostname: mariadb
    build:
      context: .requirements/mariadb
      dockerfile: Dockerfile
    restart: always
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - web

  wordpress:
    hostname: wordpress
    build:
      context: .requirements/wordpress
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - mariadb
    volumes:
      - wordpress:/var/www/html
    networks:
      - web

  nginx:
    hostname: nginx
    build:
      context: .requirements/nginx
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - wordpress
    ports:
      - "443:443"
    volumes:
      - wordpress:/var/www/html
    networks:
      - web

volumes:
  mariadb:
  wordpress:

networks:
  web:
